<!DOCTYPE html>
<link href="/static/css/styles.css" rel="stylesheet" media="screen">
<link href="/static/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet" media="screen">
<link rel="shortcut icon" href="/static/assets/img/favicon.ico" type="image/x-icon">
<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Landing Page</title>
    {% endif %}
</head>
<body>

</body>
</html>