html {
    background: url("/static/assets/img/home.jpg") no-repeat center center fixed;
    background-size: cover;
}


body {
    padding-top: 0; !important
}

.navbar {
    margin-bottom: 0;
}

.floating-block {
    position: fixed;
    width: 300px;
    left: 50%;
    margin-top: 100px;
    margin-left: -150px;
    background-color: #FEF4E7;
    border-color: #CB825A;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

.tab-pane {
    background-color: #FEF4E7;
    border-color: #CB825A;
    border-width: 1px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}